@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globals */
html {
  @apply font-sans;
}
body {
  @apply bg-background-default;
}
#app {
  @apply min-h-[100svh] flex flex-col;
}
.principle {
  @apply flex-1 flex flex-col;
}
.content {
  @apply container mx-auto w-[90%] lg:w-[80%] xl:w-[70%];
}

/* Utilities */
.flex-between-center {
  @apply flex justify-between items-center;
}
.button {
  @apply p-2 transition-colors duration-300 w-fit rounded-md border;
}
.important {
  @apply font-bold;
}
.navigation {
  @apply bg-navigation-default hover:bg-navigation-hover;
}
.desktop-navlink {
  @apply px-2.5 py-1 border-2 border-transparent rounded-md transition-colors duration-300 ease-in-out;
}

/* Form */
.form {
  @apply flex flex-col gap-4 mx-auto max-w-2xl;
}
.form-title {
  @apply text-2xl font-semibold mb-2;
}
.label {
  @apply flex flex-col gap-1 rounded-md;
}
.label > span {
  @apply font-semibold;
}
.input {
  @apply w-full rounded-md p-2 border focus:outline-none focus:border-black transition-colors duration-300;
}
textarea.input {
  @apply h-24 min-h-[4rem] resize-y overflow-auto;
}
.input.no-expand {
  @apply resize-none;
}
.error {
  @apply text-red-500 font-semibold text-sm;
}
.error--small {
  @apply text-red-500 font-semibold text-sm;
}
.submit {
  @apply bg-navigation-default hover:bg-navigation-hover ml-auto;
}

.v-collapse {
  transition: height 350ms ease-in-out;
}
